/* Style halaman praktek */
/* Style untuk container */
.container {
  width: 600px;
  border: 2px solid black;
  margin: 50px auto;
  /* menerapkan flex */
  display: flex;
}

/* style untuk div */
.container div {
  width: 100px;
  height: 100px;
  background-color: aqua;
}
