.container {
  width: 600px;
  height: 150px;
  border: 5px solid black;
  margin: 30px auto;
  display: flex;
  /* flex-direction, untuk mengatur arah / ururutan items di dalam container column, column reverse, row, row reverse*/
  /* flex-direction: column-reverse; */

  /* secara bawaan, semua item di container berada satu baris, meskipun ukurannya tidak cukup.

  wrap memungkinkan untuk memindahkan items ke baris di bwahnya */
  /* flex-wrap: wrap; */

  /* justify-content untuk mengatur rata dari elemen-elemen didalamnya : flex-start, flex-end, center, space between, space-around, space evenly */
  /* justify-content: space-evenly; */

  /* align-items untuk mengatur perilaku penjajaran items terhadap cross-axis (vertikal) flex-start | flex-end | center | strech | baseline*/
  /* align-items: baseline; */

  /* align-content untuk mengatur jarak antar items terhadap cross axis (hanya berfungsi ketika items lebih dari 1 baris) flex-start | flex-end |center | space-between | space-around*/
  /* flex-wrap: wrap;
  align-items: space-around; */
}

/* 2. flex-grow untuk mengatur ukuran dari suatu items (responsive) */

.container div {
  background-color: rgb(5, 255, 205);
  margin: 2px;
  flex-grow: 1;
}

.container div.dua {
  flex-grow: 3;
}

/* untuk mengetahui efek dari align item baseline */
/* .container div.tiga {
  font-size: 40px;
} */

/* properti yang ada pada items */
/* 1. order untuk memindahkan items tanpa menyentuh html */
/* .satu {
  order: 2;
} */

/* align-self mengatur perilaku penjajaran sebuah item yang spesifik terhadap cross axis */
