.container {
  width: 600px;
  border: 5px solid black;
  margin: 30px auto;
  display: flex;
  /* flex-direction, untuk mengatur arah / ururutan items di dalam container column, column reverse, row, row reverse*/
  /* flex-direction: column-reverse; */

  /* secara bawaan, semua item di container berada satu baris, meskipun ukurannya tidak cukup.

  wrap memungkinkan untuk memindahkan items ke baris di bwahnya */
}

.container div {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 2px;
}
